<div>
  <h1>File Upload</h1>
  <input type="file" (change)="onFilesSelected($event)" webkitdirectory multiple />
  <button (click)="uploadFiles()">Upload</button>

  <div class="loading-bar" *ngIf="isLoadingBar"></div>

  <div *ngIf="uploadInProgress">
    <mat-progress-bar mode="determinate" [value]="currentFileProgress"></mat-progress-bar>
    <p>Total files: {{totalFiles}}</p>
    <p>Current file: {{currentFileIndex + 1}}</p>
    <p>Progress: {{currentFileProgress.toFixed(0)}}%</p>
    <p>File name: {{currentFilename}}</p>
  </div>

  <imgdb-file-progress
    *ngIf="(hasActiveProgress$ | async) || false"
    [uploadProgress]="uploadProgress"
    (uploadCancel)="onUploadCancel()"
  ></imgdb-file-progress>

</div>
